services:
  qlda-be:
    build:
      context: ../be
      dockerfile: Dockerfile
    image: registry.gitlab.com/tuanxx31/qlda/qlda-be:latest

  qlda-fe:
    build:
      context: ../qlda-fe
      dockerfile: Dockerfile
      args:
        VITE_API_BASE: https://qlda-api.sclould.com
    image: registry.gitlab.com/tuanxx31/qlda/qlda-fe:latest